* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: lightseagreen;
}

#container {
    background-color:aliceblue;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px;
    font-size: 70px;
}

.formItem {
    margin-bottom: 10px;
    font-size: 20px;
}

.joke-card {
    text-align: left;
    width: 100%;
}