* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: lightseagreen;
}

#container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 40px;
    font-size: 70px;
}

.formItem {
    margin-bottom: 10px;
    font-size: 20px;
}

#userInputForm {
    padding: 8px;
    border-radius: 10px;
    background-color: greenyellow;
}